.list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

.listItem {
  border: 2px solid rgb(20, 20, 20);
  border-radius: 4px;
  padding: 12px 16px;
  text-align: center;
}

.avatar {
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  max-width: 50px;
}

.name {
  margin-bottom: 4px;
}

.online {
  color: green;
}

.offline {
  color: red;
}
